node_modules
.next
.git
.kilo
.codeartsdoer
.playwright-mcp
.vscode
.DS_Store

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.env
.env.development
.env.test
.env.production

dist
build
tmp
.temp
.tmp
openapi
docs
tsconfig.tsbuildinfo
secret.json
